<div class="ui one column stackable center aligned page grid" id="login-card">
  <div class="ui fluid centered raised card column nine wide">
    <div class="content">
      <form class="ui form">
        <h1 class="ui dividing header">Log In <i class="red icon sign-in"></i></h1>
        <div class="field">
          <input name="userEmail" placeholder="Email" type="email">
        </div>
        <div class="field">
          <input name="userPassword" placeholder="Password" type="password">
        </div>
        <div class="ui hidden divider"></div>
        <div class="fluid ui red button">Log In</div>
      </form>
    </div>
    <div class="extra content">
    Not a user? <%= link_to "Sign Up", "#", class: "link-highlight" %>
    </div>
  </div>
</div>
