<h2 class="ui center aligned icon header">
  <i class="comments red icon"></i>
  <div class="content">
    Ruby Messenger
  </div>
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <strong>Kevin</strong>: Test message...
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Message">
              <i class="bordered inverted red icon paper plane"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item active">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
